In [2]:
#1
list=['python','php','java']
for i in list:
    print(i)

python
php
java

In [5]:
#2
num_list = [1, 5, 4, 45, 12, 15, 22, 35, 55, 6]
total = 0
for num in num_list:
    total = total + num
print("Sum of elements of list is", total)

Sum of elements of list is 200

In [6]:
#3
def multiplyList(myList) :
     
    
    result = 1
    for x in myList:
         result = result * x
    return result
     

list = [1, 2, 3, 4, 5]

print(multiplyList(list))

120

In [13]:
#4
def f(x):
    y=x[3]*x[-1]
    return y
x=[1, 2, 3, 4, 5]
f(x)

20

In [14]:
#5
def max_check(x):
  max_val = x[0] 
  for check in x: 
    if check > max_val: 
      max_val = check 
  return max_val


def min_check(x):
  min_val = x[0] 
  for check in x: 
    if check < min_val: 
      min_val = check 
  return min_val


my_list = [2, 6, 8, 14, 3, 77, 63]

  

print("Maximum of the list", max_check(my_list))
print("Minimum of the list", min_check(my_list))

Maximum of the list 77
Minimum of the list 2

In [15]:
#6
s=0
list1=['aba', '121', 'kgf', 'abc']
for x in list1:
    if len(x)>1 and x[0]==x[-1]:
        print("the given words are:",x)
        s=s+1
print("no. of words you want:",s)

the given words are: aba
the given words are: 121
no. of words you want: 2

In [18]:
#7
list1=[1, 2, 4, 6, 3,6,8,4,7,4,8995,7,9,56]
result=[]
for i in list1:
    if i not in result:
        result. append(i)
print(result)

[1, 2, 4, 6, 3, 8, 7, 8995, 9, 56]

In [24]:
#8
l1 = ["Hire", "the", "top", "1%", "freelancers"]

l2 = []

if len(l2) == 0:
    print("list is empty")
else:
    print("list is not empty")

list is empty

In [26]:
#9
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow','Blue', 'Orange','Gray','Brown']
color = [x for (i,x) in enumerate(color) if i not in (4,6,8)]
print(color)

['Red', 'Green', 'White', 'Black', 'Yellow', 'Orange', 'Brown']

In [27]:
#10
numTuple = (10, 20, 40, 60, 80, 100)
print("Tuple Items = ", numTuple)

Tuple Items =  (10, 20, 40, 60, 80, 100)

In [28]:
#11
tuplex = (4, 6, 2, 8, 3, 1) 
print(tuplex)
tuplex = tuplex + (9,)
print(tuplex)

(4, 6, 2, 8, 3, 1)
(4, 6, 2, 8, 3, 1, 9)

In [33]:
#12
numTuple = (10, 20, 40, 60, 80, 100)
print(numTuple[2])
print(numTuple[-2])

40
80

In [34]:
#13
test_tup = (10, 4, 5, 6, None)
  

print("The original tuple : " + str(test_tup))

res = any(map(lambda ele: ele is None, test_tup))
  

print("Does tuple contain any None value ? : " + str(res))

The original tuple : (10, 4, 5, 6, None)
Does tuple contain any None value ? : True

In [35]:
#14
name = [('sravan',7058,98.45),
        ('ojaswi',7059,90.67),
        ('bobby',7060,78.90),
        ('rohith',7081,67.89),
        ('gnanesh',7084,98.01)]
 

for x in name:
   
 
  for y in x:
      print(y)
       
  print()

sravan
7058
98.45

ojaswi
7059
90.67

bobby
7060
78.9

rohith
7081
67.89

gnanesh
7084
98.01

In [36]:
#15
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

#new set
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [42]:
#16

A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}


Newset=A.intersection(B)

print(Newset)

{4, 5}

In [38]:
#17
set1 = {"a", "b" , "c"}
print(len(set1))

3

In [44]:
#18
set1 = {"a", "b" , "c"}
set1.add('d')
set1.remove('d')
print(set1)

{'c', 'd', 'a', 'b'}

In [47]:
#19
set1 = {"a", "b" , "c"}
set1.clear()
print(set1)

set()

In [48]:
#20
set1 = {"a", "b" , "c"}
del set1

In [49]:
#21
orders = {
	'cappuccino': 54,
	'latte': 56,
	'espresso': 72,
	'americano': 48,
	'cortado': 41
}

sort_orders = sorted(orders.items(), key=lambda x: x[1], reverse=True)

for i in sort_orders:
	print(i[0], i[1])

espresso 72
latte 56
cappuccino 54
americano 48
cortado 41

In [53]:
#22
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def is_key_present(x):
  if x in d:
      print('Key is present in the dictionary')
  else:
      print('Key is not present in the dictionary')
is_key_present(5)
is_key_present(7)

Key is present in the dictionary
Key is not present in the dictionary

In [55]:
#23
word_freq = {
    "Hello": 56,
    "at": 23,
    "test": 43,
    "this": 78
}
value = 44
# python check if value exist in dict using "in" & values()
if value in word_freq.values():
    print(f"Yes, Value: '{value}' exists in dictionary")
else:
    print(f"No, Value: '{value}' does not exists in dictionary")

No, Value: '44' does not exists in dictionary

In [56]:
#24
dictionary = {52:"E",126:"A",134:"B",188:"C",189:"D"}
for key, value in dictionary.items():
	print(key)
	print(value)

52
E
126
A
134
B
188
C
189
D

In [57]:
#24
a_dict = {'color': 'blue', 'fruit': 'apple', 'pet': 'dog'}
for key, value in a_dict.items():
  print(key, '-', value)

color - blue
fruit - apple
pet - dog

In [59]:
#25

def Merge(dict1, dict2):
    return(dict2.update(dict1))
     

dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
 

print(Merge(dict1, dict2))
 

print(dict2)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

In [60]:
#25

def Merge(dict1, dict2):
    res = {**dict1, **dict2}
    return res
     

dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
dict3 = Merge(dict1, dict2)
print(dict3)

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

In [65]:
#26
my_dict = {"Name":[],"Address":[],"Age":[]};

my_dict["Name"].append("Guru")
my_dict["Address"].append("Mumbai")
my_dict["Age"].append(30)	
print(my_dict)

{'Name': ['Guru'], 'Address': ['Mumbai'], 'Age': [30]}

In [66]:
#26
dict1={
    4:60,
    5:50,
    6:40
}
values=dict1.values()
total=sum(values)
print(total)

150

In [67]:
#26
d1={"a":100, "b":200, "c":300}
d2={"a":200, "d":400, "e":300}
for key in d1:
    if key in d2:
        d2[key]=d1[key]+d2[key]
    else:
        d2[key]=d1[key]
print(d2)

{'a': 300, 'd': 400, 'e': 300, 'b': 200, 'c': 300}